* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25rem;
  background-color: #fafafa;
  color: #333;
  margin-bottom: 5vh;
}

.App-header {
  background-color: #fff;
  min-height: 7.5vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster Two', cursive;
  font-size: 1rem;
  color: #333;
  border-bottom: 1px solid #eee;
}

.App-header h1 {
  font-size: 1.75rem;
  font-weight: 400;
}

.App-footer {
  background-color: #fff;
  min-height: 5vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #eee;
}

.App-footer p {
  color: mediumvioletred;
}

.App-footer a {
  color: mediumvioletred;
}

.App-footer a:hover {
  color: darkviolet;
}

.fab {
  font-size: 1.2rem;
  padding: 0 1rem;
  color: mediumvioletred;
}

.fab:hover {
  color: darkviolet;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #000;
  }

  .App {
    background-color: #000;
    color: #fafafa;
  }

  .App-header {
    background-color: #0a0a0a;
    color: #fafafa;
    border-bottom: 1px solid #333;
  }

  .App-footer {
    background-color: #0a0a0a;
    border-top: 1px solid #333;
  }

  .App-footer p {
    color: orchid;
  }

  .App-footer a { 
    color: orchid;
  }

  .App-footer a:hover {
    color: violet;
  }

  .fab {
    color: orchid;
  }

  .fab:hover {
    color: violet;
  }
}